[Unit]
Description=Slurm Cluster Monitor Bot
After=network.target

[Service]
# User from system info
User=carlosraul_crlsrl
# Directory from system info
WorkingDirectory=/home/carlosraul_crlsrl/server-notification
# Paths
Environment="PYTHONUNBUFFERED=1"
ExecStart=/usr/bin/python3 /home/carlosraul_crlsrl/server-notification/monitor.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
