[Unit]
Description=Slurm Cluster Monitor Bot
After=network.target

[Service]
# User from system info
User=carlosraul_crlsrl
# Directory from system info
WorkingDirectory=/home/carlosraul_crlsrl/server-notification
# Paths
Environment="PYTHONUNBUFFERED=1"
# Use the virtual environment python
ExecStart=/home/carlosraul_crlsrl/server-notification/venv/bin/python3 /home/carlosraul_crlsrl/server-notification/bot_entry.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

